parameters:
	ignoreErrors:
		-
			message: "#^Instantiated class Airalo\\\\Resources\\\\CurlResource not found\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Instantiated class Airalo\\\\Resources\\\\MultiCurlResource not found\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:cancelFutureOrder\\(\\) has parameter \\$requestIds with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:createFutureOrder\\(\\) has parameter \\$copyAddress with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:createFutureOrder\\(\\) has parameter \\$sharingOption with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:getSimPackages\\(\\) has parameter \\$limit with no type specified\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:getSimPackages\\(\\) has parameter \\$page with no type specified\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:orderAsyncBulk\\(\\) has parameter \\$packages with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:orderBulk\\(\\) has parameter \\$packages with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:orderBulkWithEmailSimShare\\(\\) has parameter \\$esimCloud with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:orderBulkWithEmailSimShare\\(\\) has parameter \\$packages with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Method Airalo\\\\Airalo\\:\\:orderWithEmailSimShare\\(\\) has parameter \\$esimCloud with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^PHPDoc tag @param for parameter \\$iccid with type int is incompatible with native type string\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Property Airalo\\\\Airalo\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Property Airalo\\\\Airalo\\:\\:\\$multiCurl has unknown class Airalo\\\\Resources\\\\MultiCurlResource as its type\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Property Airalo\\\\Airalo\\:\\:\\$pool type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Airalo.php

		-
			message: "#^Instantiated class Airalo\\\\Resources\\\\CurlResource not found\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Instantiated class Airalo\\\\Resources\\\\MultiCurlResource not found\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:cancelFutureOrder\\(\\) has parameter \\$requestIds with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:createFutureOrder\\(\\) has parameter \\$copyAddress with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:createFutureOrder\\(\\) has parameter \\$sharingOption with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:getSimPackages\\(\\) has parameter \\$limit with no type specified\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:getSimPackages\\(\\) has parameter \\$page with no type specified\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:orderAsyncBulk\\(\\) has parameter \\$packages with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:orderBulk\\(\\) has parameter \\$packages with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:orderBulkWithEmailSimShare\\(\\) has parameter \\$esimCloud with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:orderBulkWithEmailSimShare\\(\\) has parameter \\$packages with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\AiraloStatic\\:\\:orderWithEmailSimShare\\(\\) has parameter \\$esimCloud with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Property Airalo\\\\AiraloStatic\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Property Airalo\\\\AiraloStatic\\:\\:\\$multiCurl has unknown class Airalo\\\\Resources\\\\MultiCurlResource as its type\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Property Airalo\\\\AiraloStatic\\:\\:\\$pool type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AiraloStatic.php

		-
			message: "#^Method Airalo\\\\Config\\:\\:getConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method Airalo\\\\Config\\:\\:getCredentials\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method Airalo\\\\Config\\:\\:getHttpHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Property Airalo\\\\Config\\:\\:\\$data \\(array\\) does not accept mixed\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Property Airalo\\\\Config\\:\\:\\$data type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: src/Helpers/Cached.php

		-
			message: "#^Static property Airalo\\\\Helpers\\\\Cached\\:\\:\\$cacheName is never read, only written\\.$#"
			count: 1
			path: src/Helpers/Cached.php

		-
			message: "#^Trying to invoke mixed but it's not a callable\\.$#"
			count: 1
			path: src/Helpers/Cached.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\CloudSimShareValidator\\:\\:checkRequiredFields\\(\\) has parameter \\$requiredFields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helpers/CloudSimShareValidator.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\CloudSimShareValidator\\:\\:checkRequiredFields\\(\\) has parameter \\$simCloudShare with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helpers/CloudSimShareValidator.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\CloudSimShareValidator\\:\\:validateCloudSimShare\\(\\) has parameter \\$requiredFields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helpers/CloudSimShareValidator.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\CloudSimShareValidator\\:\\:validateCloudSimShare\\(\\) has parameter \\$simCloudShare with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helpers/CloudSimShareValidator.php

		-
			message: "#^Property Airalo\\\\Helpers\\\\CloudSimShareValidator\\:\\:\\$allowedSharingOptions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helpers/CloudSimShareValidator.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\Crypt\\:\\:decrypt\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/Helpers/Crypt.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_decode expects string, mixed given\\.$#"
			count: 1
			path: src/Helpers/Crypt.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, mixed given\\.$#"
			count: 1
			path: src/Helpers/Crypt.php

		-
			message: "#^Call to function is_null\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: src/Helpers/EasyAccess.php

		-
			message: "#^Class Airalo\\\\Helpers\\\\EasyAccess implements generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Helpers/EasyAccess.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\EasyAccess\\:\\:__construct\\(\\) with return type void returns null but should not return anything\\.$#"
			count: 1
			path: src/Helpers/EasyAccess.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\EasyAccess\\:\\:__toString\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Helpers/EasyAccess.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\EasyAccess\\:\\:__toString\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/Helpers/EasyAccess.php

		-
			message: "#^Result of method Airalo\\\\Helpers\\\\EasyAccess\\:\\:offsetSet\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Helpers/EasyAccess.php

		-
			message: "#^Method Airalo\\\\Helpers\\\\Signature\\:\\:preparePayload\\(\\) should return string\\|null but returns string\\|false\\.$#"
			count: 1
			path: src/Helpers/Signature.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\ExchangeRatesService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 2
			path: src/Services/ExchangeRatesService.php

		-
			message: "#^Property Airalo\\\\Services\\\\ExchangeRatesService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/ExchangeRatesService.php

		-
			message: "#^Access to property \\$code on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 4
			path: src/Services/FutureOrderService.php

		-
			message: "#^Call to method setHeaders\\(\\) on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 2
			path: src/Services/FutureOrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\FutureOrderService\\:\\:cancelFutureOrder\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/FutureOrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\FutureOrderService\\:\\:createFutureOrder\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/FutureOrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\FutureOrderService\\:\\:getHeaders\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/FutureOrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\FutureOrderService\\:\\:getHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/FutureOrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\FutureOrderService\\:\\:validateCancelFutureOrder\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/FutureOrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\FutureOrderService\\:\\:validateFutureOrder\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/FutureOrderService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\FutureOrderService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 2
			path: src/Services/FutureOrderService.php

		-
			message: "#^Property Airalo\\\\Services\\\\FutureOrderService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/FutureOrderService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\InstallationInstructionsService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/InstallationInstructionsService.php

		-
			message: "#^Property Airalo\\\\Services\\\\InstallationInstructionsService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/InstallationInstructionsService.php

		-
			message: "#^Access to property \\$code on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Call to method setHeaders\\(\\) on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Cannot access offset 'access_token' on mixed\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Comparison operation \"\\<\" between 0\\|1 and 2 is always true\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Parameter \\#1 \\$data of static method Airalo\\\\Helpers\\\\Crypt\\:\\:decrypt\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Parameter \\#1 \\$data of static method Airalo\\\\Helpers\\\\Crypt\\:\\:encrypt\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, array\\|string given\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\OAuthService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Property Airalo\\\\Services\\\\OAuthService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Property Airalo\\\\Services\\\\OAuthService\\:\\:\\$payload type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Services/OAuthService.php

		-
			message: "#^Access to property \\$code on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 6
			path: src/Services/OrderService.php

		-
			message: "#^Call to method exec\\(\\) on an unknown class Airalo\\\\Resources\\\\MultiCurlResource\\.$#"
			count: 3
			path: src/Services/OrderService.php

		-
			message: "#^Call to method setHeaders\\(\\) on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 3
			path: src/Services/OrderService.php

		-
			message: "#^Call to method tag\\(\\) on an unknown class Airalo\\\\Resources\\\\MultiCurlResource\\.$#"
			count: 3
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrder\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrderAsync\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrderAsyncBulk\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrderBulk\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrderBulkWithEmailSimShare\\(\\) has parameter \\$esimCloud with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrderBulkWithEmailSimShare\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrderWithEmailSimShare\\(\\) has parameter \\$esimCloud with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:createOrderWithEmailSimShare\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:getHeaders\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:getHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:validateBulkOrder\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:validateCloudSimShare\\(\\) has parameter \\$simCloudShare with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Method Airalo\\\\Services\\\\OrderService\\:\\:validateOrder\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\OrderService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Parameter \\$multiCurl of method Airalo\\\\Services\\\\OrderService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\MultiCurlResource\\.$#"
			count: 2
			path: src/Services/OrderService.php

		-
			message: "#^Property Airalo\\\\Services\\\\OrderService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Property Airalo\\\\Services\\\\OrderService\\:\\:\\$multiCurl has unknown class Airalo\\\\Resources\\\\MultiCurlResource as its type\\.$#"
			count: 1
			path: src/Services/OrderService.php

		-
			message: "#^Call to method setHeaders\\(\\) on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 2
			path: src/Services/PackagesService.php

		-
			message: "#^Cannot access offset 'last_page' on mixed\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Cannot access offset 'meta' on mixed\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Method Airalo\\\\Services\\\\PackagesService\\:\\:buildUrl\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Method Airalo\\\\Services\\\\PackagesService\\:\\:flatten\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Method Airalo\\\\Services\\\\PackagesService\\:\\:flatten\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Method Airalo\\\\Services\\\\PackagesService\\:\\:getKey\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Method Airalo\\\\Services\\\\PackagesService\\:\\:getPackages\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Method Airalo\\\\Services\\\\PackagesService\\:\\:getPackages\\(\\) should return Airalo\\\\Helpers\\\\EasyAccess\\|null but returns mixed\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\PackagesService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 2
			path: src/Services/PackagesService.php

		-
			message: "#^Property Airalo\\\\Services\\\\PackagesService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/PackagesService.php

		-
			message: "#^Call to method exec\\(\\) on an unknown class Airalo\\\\Resources\\\\MultiCurlResource\\.$#"
			count: 1
			path: src/Services/SimService.php

		-
			message: "#^Call to method tag\\(\\) on an unknown class Airalo\\\\Resources\\\\MultiCurlResource\\.$#"
			count: 1
			path: src/Services/SimService.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, float\\|int\\|string given\\.$#"
			count: 2
			path: src/Services/SimService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\SimService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/SimService.php

		-
			message: "#^Parameter \\$multiCurl of method Airalo\\\\Services\\\\SimService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\MultiCurlResource\\.$#"
			count: 2
			path: src/Services/SimService.php

		-
			message: "#^Property Airalo\\\\Services\\\\SimService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/SimService.php

		-
			message: "#^Property Airalo\\\\Services\\\\SimService\\:\\:\\$multiCurl has unknown class Airalo\\\\Resources\\\\MultiCurlResource as its type\\.$#"
			count: 1
			path: src/Services/SimService.php

		-
			message: "#^Access to property \\$code on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 2
			path: src/Services/TopupService.php

		-
			message: "#^Call to method setHeaders\\(\\) on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/TopupService.php

		-
			message: "#^Method Airalo\\\\Services\\\\TopupService\\:\\:createTopup\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/TopupService.php

		-
			message: "#^Method Airalo\\\\Services\\\\TopupService\\:\\:validateTopup\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/TopupService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\TopupService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 1
			path: src/Services/TopupService.php

		-
			message: "#^Property Airalo\\\\Services\\\\TopupService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/TopupService.php

		-
			message: "#^Access to property \\$code on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 4
			path: src/Services/VoucherService.php

		-
			message: "#^Call to method setHeaders\\(\\) on an unknown class Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 2
			path: src/Services/VoucherService.php

		-
			message: "#^Parameter \\$curl of method Airalo\\\\Services\\\\VoucherService\\:\\:__construct\\(\\) has invalid type Airalo\\\\Resources\\\\CurlResource\\.$#"
			count: 2
			path: src/Services/VoucherService.php

		-
			message: "#^Property Airalo\\\\Services\\\\VoucherService\\:\\:\\$curl has unknown class Airalo\\\\Resources\\\\CurlResource as its type\\.$#"
			count: 1
			path: src/Services/VoucherService.php
