name: PHPStan
on:
  push:
    branches:
      - main
      - develop
      - feature/**
  pull_request:
    branches:
      - main
      - develop
      - feature/**
jobs:
  tests:
    name: Run PHPStan (PHP ${{ matrix.php-versions }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ "7.4" ]
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN_CICD }}
      COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{ secrets.GH_TOKEN_CICD }}"} }'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php-versions }}
          version: 2.x
          dev: yes
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: gd, zip, json, fileinfo, dom
          coverage: xdebug
      - name: Run PHPStan
        run: composer phpstan
